<!-- Stylesheet CIDR 2003 -->


<!--++++++++++++++++++++++++++++++++++++-->
<!-- 					-->
<!-- Global				-->
<!-- 					-->
<!--++++++++++++++++++++++++++++++++++++-->
BODY {
	background: #ffffff
}

.foo {
	width: 650px
}
<!--++++++++++++++++++++++++++++++++++++-->
<!-- 					-->
<!-- Header				-->
<!-- 					-->
<!--++++++++++++++++++++++++++++++++++++-->

<!--++++++++++++++++++++++++++++++++++++-->
<!-- 					-->
<!-- Section				-->
<!-- 					-->
<!--++++++++++++++++++++++++++++++++++++-->
.sectionBG {
	background: #cffcbb
}

.sectionTxt {
	font-size: 10pt;
	font-family: Arial, Tahoma, Verdana, Helvetica;
	font-weight: normal
}

<!--++++++++++++++++++++++++++++++++++++-->
<!-- 					-->
<!-- Subsection				-->
<!-- 					-->
<!--++++++++++++++++++++++++++++++++++++-->

.subsectionHeaderBG {
	background: 	#5db954
}

.subsectionBG {
	background:	#6699CC
<!--#f4fecc-->
}

.contentSubsectionTxt {
	font-size: 16pt;
	font-family: Arial, Tahoma, Verdana, Helvetica;
	font-weight: normal;
	color: #ffffff
}

.subsectionLinkTxt {
	font-size: 8pt;
	font-family: Arial, Tahoma, Verdana, Helvetica;
	font-weight: normal;
	color: #000000
}
<!--++++++++++++++++++++++++++++++++++++-->
<!-- 					-->
<!-- Content				-->
<!-- 					-->
<!--++++++++++++++++++++++++++++++++++++-->

.contentTxt {
	font-size: 14pt;
	font-family: Arial, Tahoma, Verdana, Helvetica;
	font-weight: normal
}

.contentBG {
	background:	#ffffff		
}
<!--++++++++++++++++++++++++++++++++++++-->
<!-- 					-->
<!-- Footer				-->
<!-- 					-->
<!--++++++++++++++++++++++++++++++++++++-->

.footerTxt {
        font-size : 8pt;
        font-family : Arial, Tahoma, Verdana, Helvetica;
        font-weight : normal
} 

<!--++++++++++++++++++++++++++++++++++++-->
<!-- 					-->
<!-- Program				-->
<!-- 					-->
<!--++++++++++++++++++++++++++++++++++++-->

table#program { BORDER: solid 10px grey; 
		border-collapse: collapse;
		}
				
.date { text-align: center;					
	font-size:normal;
}
				
.time { <!--BACKGROUND-COLOR: #99CCFF; -->
	background-color: #6699CC;
	font-size:small;
	width:10%;
	text-align: center;
	border-bottom: solid 2px grey; 
	border-top: solid 2px grey; 
}
				
.event { <!-- BACKGROUND-COLOR: #99CCFF; -->
	background-color: #6699CC;
	text-align: center;
	font-size:larger;
	border-bottom: solid 2px grey; 
	border-top: solid 2px grey; 
	}
				
.presentation { BACKGROUND-COLOR: #CCECFF; 
	font-size:small;
	}

.paper { BACKGROUND-COLOR: #CCECFF; 
	font-size:small;
	}
